# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# Migrations (optional)
**/migrations/
!**/migrations/__init__.py

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
